body {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  display: block;
  background-color: #90ee90;
}

h1,
h2,
h3 {
  text-align: center;
  font-size: 3em;
  margin: 0 auto;
  padding-bottom: 0.1em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

button,
#random {
  display: inline-block;
  cursor: pointer;
  margin: 0 auto;
  padding: 0.5em;
  background-color: #00ca5a;
  border-radius: 1em;
  border: none;
  outline: none;
  opacity: 0.8;
  transition: 0.3s;
  text-align: center;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 1.2em;
  width: 20em;
  box-shadow: 0 9px #008080;
}

button:hover,
#random:hover {
  background-color: #009a3a;
  opacity: 1;
}

button:active,
#random:active {
  background-color: #007a1a;
  box-shadow: 0 5px #004040;
  transform: translateY(4px);
}

#size,
#edit,
#speed {
  font-size: 1em;
}

label {
  font-size: 1em;
  display: none;
  font-weight: bold;
}

input {
  display: none;
  border: none;
  outline: none;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  border-radius: 0.5em;
  font-size: 1em;
}

#random {
  display: none;
  font-size: 1em;
}

#br1,
#br2 {
  display: none;
}

#functions {
  display: none;
  text-align: center;
  margin: 0 auto;
}

output {
  display: none;
}
